@use 'presentation/styles/mixins/hero-media' as *;

.hero {
  @include hero-media-layout;

  &__video {
    @include hero-media-cover;
  }

  &__body {
    padding-top: 249px;
    padding-bottom: 249px;
  }

  &__title {
    max-width: 1350px;
    color: #fff;
    font-weight: 500;
  }

  &__subtitle {
    margin-top: 22px;
    color: #fff;
    font-weight: 400;
  }

  &__actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
    margin-top: 50px;
  }
}
