@use 'presentation/styles/variables' as *;
@use 'presentation/styles/typography-tokens' as typography;

.error-fallback {
  padding: 100px 0;
  text-align: center;

  &__body {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    margin: 0;
    color: var(--brand-navy);
    font-family: typography.$font-family-uncage;
    font-size: typography.$heading-lg-size;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
    color: var(--brand-navy-80);
    font-family: typography.$font-family-ubuntu;
    font-size: typography.$text-md-size;
    line-height: 35px;
  }
}

@media (max-width: $bp-tablet) {
  .error-fallback {
    padding: 64px 0;

    &__text {
      font-size: typography.$text-base-size;
      line-height: typography.$text-base-line-height;
    }
  }
}
