@use 'variables' as *;

.container,
.container-wide {
  box-sizing: border-box;
  width: 100%;
  margin-inline: auto;
}

.container {
  max-width: var(--container-width);
}

.container-wide {
  max-width: var(--container-width-wide);
}

@media (max-width: $bp-desktop) {
  .container,
  .container-wide {
    padding-inline: 16px;
  }
}
