$font-family-uncage: 'UNCAGE', sans-serif;
$font-family-ubuntu: 'Ubuntu', sans-serif;

$heading-xl-size: 64px;
$heading-xl-line-height: 100%;
$heading-xl-weight: 700;
$heading-xl-letter-spacing: 1px;

$heading-lg-size: 46px;
$heading-lg-line-height: 67px;
$heading-lg-weight: 500;
$heading-lg-letter-spacing: 1px;

$text-xl-size: 24px;
$text-xl-line-height: 100%;
$text-xl-weight: 500;
$text-xl-letter-spacing: 0;

$text-md-size: 18px;
$text-md-line-height: 29px;
$text-md-weight: 400;
$text-md-letter-spacing: 0;

$text-sm-size: 14px;
$text-sm-line-height: 21px;
$text-sm-weight: 400;
$text-sm-letter-spacing: 0;

:root {
  --font-family-uncage: #{$font-family-uncage};
  --font-family-ubuntu: #{$font-family-ubuntu};
}

body {
  font-family: $font-family-ubuntu;
}

.heading-xl {
  font-family: $font-family-uncage;
  font-weight: $heading-xl-weight;
  font-size: $heading-xl-size;
  line-height: $heading-xl-line-height;
  letter-spacing: $heading-xl-letter-spacing;
  text-transform: uppercase;
}

.heading-lg {
  font-family: $font-family-uncage;
  font-weight: $heading-lg-weight;
  font-size: $heading-lg-size;
  line-height: $heading-lg-line-height;
  letter-spacing: $heading-lg-letter-spacing;
  text-transform: uppercase;
}

.text-xl {
  font-family: $font-family-ubuntu;
  font-weight: $text-xl-weight;
  font-size: $text-xl-size;
  line-height: $text-xl-line-height;
  letter-spacing: $text-xl-letter-spacing;
}

.text-md {
  font-family: $font-family-ubuntu;
  font-weight: $text-md-weight;
  font-size: $text-md-size;
  line-height: $text-md-line-height;
  letter-spacing: $text-md-letter-spacing;
}

.text-sm {
  font-family: $font-family-ubuntu;
  font-weight: $text-sm-weight;
  font-size: $text-sm-size;
  line-height: $text-sm-line-height;
  letter-spacing: $text-sm-letter-spacing;
}
