$font-family-uncage: 'UNCAGE', sans-serif;
$font-family-ubuntu: 'Ubuntu', sans-serif;

$heading-xl-size: 64px;
$heading-xl-line-height: 100%;
$heading-xl-weight: 700;
$heading-xl-letter-spacing: 1px;

$heading-lg-size: 46px;
$heading-lg-line-height: 67px;
$heading-lg-weight: 500;
$heading-lg-letter-spacing: 1px;

$text-xl-size: 24px;
$text-xl-line-height: 100%;
$text-xl-weight: 500;
$text-xl-letter-spacing: 0;

$text-card-title-size: 21px;
$text-card-title-line-height: 100%;
$text-card-title-weight: 500;

$text-md-size: 18px;
$text-md-line-height: 29px;
$text-md-weight: 400;
$text-md-letter-spacing: 0;

$text-base-size: 16px;
$text-base-line-height: 21px;
$text-base-weight: 400;
$text-base-letter-spacing: 0;

$text-sm-size: 14px;
$text-sm-line-height: 21px;
$text-sm-weight: 400;
$text-sm-letter-spacing: 0;

$delivery-card-num-size: 128px;
$delivery-card-num-offset: 0.25em;
