@use 'normalize';
@use 'reset';
@use 'fonts';
@use 'typography';
@use 'container';
@use 'animations';
@use 'variables';

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-white);
  color: var(--colors-text-primary);
}

a {
  color: inherit;
  text-decoration: none;
}
