@use 'presentation/styles/variables' as *;

.footer {
  margin-top: auto;
  padding-block: 32px;
  border-top: 1px solid var(--border-secondary);
  background: var(--primary-white);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  &__text {
    color: var(--grey-800);
  }

  @media (max-width: $bp-tablet) {
    &__inner {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
