@use 'presentation/styles/variables' as *;

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--layout-width);
  min-height: 100vh;
  margin-inline: auto;
  border-radius: var(--layout-radius);
  overflow: hidden;

  &__hero {
    position: relative;
  }
}

@media (max-width: $bp-mobile-lg) {
  .main {
    border-radius: 0;
  }
}
