.main {
  display: flex;
  flex-direction: column;
  width: var(--layout-width);
  min-height: 100vh;
  margin-inline: auto;
  border-radius: var(--layout-radius);
  overflow: hidden;

  &__hero {
    position: relative;
  }
}
